/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 4.5rem;
  margin-bottom: 60px;
}

.stat-row {
	padding-bottom: 30px;
}

.row-header {
	.col-sm-12 {
		h2 {
			padding-top: 20px;
			border-top: 1px solid #ccc;
		}
	}
}

tr.row {
	padding-bottom: 0;
}

.stat-card {
	.card-title {
		font-size: 20px;
	}

	.card-number {
		font-weight: bold;
		font-size: 45px;
	}

	strong {
		font-size: 18px;
	}
}

.pagination {
  @media (max-width: 480px) {
  	margin: 0 auto;
    li {
      display: none;
      &.active,&.previous,&.next {
        display: inline;
      }
    }
 }
}

.footer {
	padding: 20px;
	margin-top: 20px;
    background-color: #eceeef;
    border-top: 1px solid #a1acb2;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
}