<div class="row">
  <div class="col-md-12">
    All data is available under the <a href="http://open.canada.ca/en/open-government-licence-canada">Open Government Licence</a> and can be found on the <a href="http://open.canada.ca/data/en/dataset/beee0771-dab9-4be8-9b80-f8e8b3fdfd9d">open government portal</a>.

    Crafted by <a href="http://andrewquinn.ca">Andrew Quinn</a>.
  </div>
</div>